<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller="menuController">
    <div class="container">
        <h1>Tony's Pizza</h1>
        <h2>{{model.title}}</h2>
        <div>
            <label>
                <input type="radio" name="category" ng-click="changeMainDish('Cheese Pizza')" /> Cheese Pizza</label>
        </div>
        <div>
            <label>
                <input type="radio" name="category" ng-click="changeMainDish('Pepperoni Pizza')" /> Pepperoni Pizza</label>
        </div>
        <div>
            <label>
                <input type="radio" name="category" ng-click="changeMainDish('Margherita  Pizza')" /> Margherita Pizza</label>
        </div>
        <div>
            <label>
                <input type="radio" name="category" ng-click="changeMainDish('BBQ Chicken Pizza')" /> BBQ Chicken Pizza</label>
        </div>
        <div>
            <label>
                <input type="radio" name="category" ng-click="changeMainDish('Combo Pizza')" /> Combo Pizza</label>
        </div>
        <div>
            <h3>Selected Item</h3>
            <pre>{{mainDish.title}}</pre>
        </div>
        <div>
            <h3>Special Instuctions</h3>
            <textarea class="form-control" ng-model="model.specialInstructions"></textarea>
        </div>
        <div>
            <h3>Order Summary</h3>
            <pre>{{mainDish.title}} {{mainDish.price}} - {{model.specialInstructions}}</pre>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/menuController.js"></script>
</body>

</html>
